$side-menu-bg-color:rgb(45,45,45);
.side-background{
  background-color:$side-menu-bg-color ;
}
.side-menu{
  margin-left: 20px;
}
.side-menu{
  .item{
    border-left: none;
    background-color: $side-menu-bg-color;
    color: rgb(130,130,130);
    border-color: rgb(65,65,65);
  }
}
